# Dependencies
node_modules/

# Environment files (VERY IMPORTANT)
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Process files
pids
*.pid
*.seed
*.pid.lock

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# MongoDB
dump/
data/
*.ns
*.bson

# Build
dist/
build/

# Coverage
coverage/
